/*Código CSS para la página de [index.html]*/

/*Formateo del website*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../Resources/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: cornsilk;
}

body::-webkit-scrollbar{
  width: 15px;
  background: #365DA8;
}
body::-webkit-scrollbar-thumb{
  background: #757DBB;
  border-radius: 7px;
}

.fondoh1 {
  margin: 20px;
  background: #7993C5;

  font-family: "Prosto One", cursive;
  text-align: center;
  font-size: 25px;
  border-radius: 27px;
}

.titulo-menu {
  font-family: "Varela Round", sans-serif;
  text-align: center;
}

.navegacion {
  width: 1000px;
  margin: 10px auto;
  background: #fff;
}

.navegacion ul {
  list-style: none;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu > li > a {
  display: block;
  padding: 15px 50px;
  color: #353535;
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
}

.menu li a:hover {
  color: #005aa4;
  transition: all 0.3s;
}

.submenu {
  position: absolute;
  background: cadetblue;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.submenu li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  text-decoration: none;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

.img-cms {
  background: #7993C5;
  display: block;
  margin: 50px auto;
  padding: 10px;
  width: 80%;
  border-radius: 15px;
}

.titulo_portada {
  font-family: "Varela Round", sans-serif;
  font-size: 35px;
  text-align: left;
  padding-top: 25px;
  margin: 30px 0 15px 20px;
}

.logoUNAB {
  display: block;
  margin: 0 auto;
  background: #f0f0f0;
  border-radius: 25px;
}

.atrib_portada li {
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.integrantes {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
}

.p_introduccion {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}

.objetivos li {
  text-decoration: none;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

.question-cms {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 0px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
}

.parrafo-s1 {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}

.parrafo-s2 {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 25px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
  padding-bottom: 20px;
}

.pantallawordpress {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 0px 20px 0 20px;
}

.galeria {
  font-family: "Varela Round", sans-serif;
}

.galeria .galeria-h2 {
  text-align: center;
  margin: 30px 0 30px 0;
}

.linea {
  border-top: 5px solid #fff;
  margin-bottom: 40px;
}

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 30px;
}

.contenedor-imagenes .imagen {
  width: 45%;
  position: relative;
  height: 300px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 118, 192, 0.562);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.overlay .texto-overlay {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

.ejemp-brev {
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-size: 35px;
  color: #fff;
}

.p_conclusion {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}

.pie-de-pagina {
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: "Play", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

#btnarriba {
  position: fixed;
  bottom: 20px;
  right: -100px;
  transition: all 1s;
}

@media screen and (max-width:1000px) {
  .contenedor-imagenes {
    width: 95%;
  }
}

@media screen and (max-width:700px) {
  .contenedor-imagenes {
    width: 90%;
  }

  .contenedor-imagenes .imagen {
    width: 48%;
  }
}

@media screen and (max-width:450px) {
  .contenedor-imagenes {
    width: 100%;
  }

  .contenedor-imagenes .imagen {
    width: 80%;
  }
}