* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../Resources/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: cornsilk;
}
body::-webkit-scrollbar{
  width: 15px;
  background: #365DA8;
}
body::-webkit-scrollbar-thumb{
  background: #757DBB;
  border-radius: 7px;
}
.fondoh1 {
  margin: 20px;
  background: #7993C5;

  font-family: "Prosto One", cursive;
  text-align: center;
  font-size: 25px;
  border-radius: 27px;
}
/*Creación de Acordeon de Pasos*/
.padreAcordeon{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15px;
}
.acordion{
  max-width: 1000px;
}
.acordion .contentBx{
  position: relative;
  margin: 10px 20px;
}
.acordion .contentBx .label{
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  position: relative;
  padding: 15px;
  background: #7993C5;
  cursor: pointer;
}
.acordion .contentBx .label::before{
  content: '+';
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  font-size: 35px;
}
.acordion .contentBx.active .label::before{
  content: '-';
  font-size: 35px;
}
.acordion .contentBx .content{
  position: relative;
  background: #A5B7D8;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.acordion .contentBx.active .content{
  height: 600px;
}
/**Cierre de Acrodeon**/
.parra1 {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.preguntaw {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin: 25px 0 15px 0;
}
.linea {
  border-top: 7px solid #fff;
  margin-bottom: 40px;
}
.instalacion .h2o {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin: 25px 0 15px 0;
}
.parrafo2 {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.Info {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
}
.cara {
  padding-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.cara2 {
  padding-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  font-size: 20px;
}
a:link {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  color: aqua;
}
.pie-de-pagina {
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: "Play", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.pantallaword {
  display: block;
  margin: 0 auto;
  padding: 0px 20px 0 20px;
  width: 85%;
}
