* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(../Resources/Fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: cornsilk;
}
.fondoh1 {
  margin: 20px;
  background: #7993C5;

  font-family: "Prosto One", cursive;
  text-align: center;
  font-size: 25px;
  border-radius: 27px;
}
.parra1 {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.preguntaw {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 25px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
}
.linea {
  border-top: 5px solid #fff;
  margin-bottom: 40px;
}
.instalacion {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin: 25px 0 15px 0;
}
.h2o {
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 15px 0 15px 0;
  padding-bottom: 15px;
}
.parrafo2 {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.Tit {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 25px;
  font-family: "Varela Round", sans-serif;
  font-size: 30px;
}
.parrafo3 {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.listas {
  margin-left: 90px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.pantallaJoomla {
  display: block;
  margin: 0 auto;
  padding: 0px 20px 0 20px;
  width: 85%;
}
.instalacion {
  margin-left: 60px;
  margin-right: 60px;
  font-family: "Varela Round", sans-serif;
  text-align: justify;
  font-size: 20px;
}
.pie-de-pagina {
  margin-bottom: 20px;
  margin-top: 15px;
  font-family: "Play", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
